body {
  margin: 0;
  overflow: hidden;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: blue;
}
#start {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(img/Startscreen.jpg);
  background-size: cover;
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 1.5em;
}
#game {
  grid-area: 1 / 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100% / 100%;
  grid-template-rows: 100%;
}
#game_background {
  grid-area: 1 / 1;
  background-image: url(img/Honeyplanet.jpg);
  background-size: contain;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

#game_foreground {
  grid-area: 1 / 1;
  background-size: cover;
  background-position: relative;
  max-width: 100%;
  overflow: hidden;
}
#game_ui {
  position: absolute;
  top: 2vw;
  right: 1vw;
  color: rgb(253, 119, 10);

  font-size: 4em;
  font-family: sans-serif;

  pointer-events: none;
}
#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(img/gameover.jpg);
  background-size: contain;
  color: #ff0000;
  text-align: center;
}
#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(img/complete.jpg);
  background-size: contain;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
}

/* Timer */

#time_board {
  position: relative;
}

#urskive {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(urskive.svg);
  background-size: cover;
}

#minut_viser {
  position: absolute;
  top: 5%;
  left: -300%;
  width: 3%;
  height: 45%;
  border-radius: 50%;
  transform-origin: bottom center;
  background-color: black;
}

#time_viser {
  position: absolute;
  top: 20%;
  left: -300%;
  width: 3%;
  height: 30%;
  border-radius: 50%;
  transform-origin: bottom center;
  background-color: red;
  rotate: 30deg;
}


#score_board {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.1em;
}
#coin_count {
  white-space: nowrap;
  text-align: right;
}
#coin_image {
  width: 1em;
}
#life_board {
  margin-block-start: 0.2em;
  display: grid;
  grid-template-columns: 1.2em 1.2em 1.2em;
}

#life_board img {
  width: 100%;
}

/* game items */

#alien_container1 {
  top: -10%;
  width: 5%;
  position: absolute;
}
#alien_container2 {
  top: -20%;
  width: 5%;
  position: absolute;
}
#alien_container3 {
  top: -55%;
  width: 5%;
  position: absolute;
}
#alien_container4 {
  top: -15%;
  width: 5%;
  position: absolute;
}
#pie_container1 {
  top: -40%;
  width: 6.5%;
  position: absolute;
}
#cheesecake_container1 {
  top: -35%;
  width: 6.5%;
  position: absolute;
}
#donut_container1 {
  top: -25%;
  width: 6.5%;
  position: absolute;
}
#dumpling_container1 {
  top: -45%;
  width: 6.5%;
  position: absolute;
}
.hidden,
#game_over.hidden,
#level_complete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}

/* positions */

.position1 {
  top: 0%;
  left: 10%;
}
.position2 {
  top: 0%;
  left: 20%;
}
.position3 {
  top: 0%;
  left: 30%;
}
.position4 {
  top: 0%;
  left: 40%;
}
.position5 {
  top: 0%;
  left: 50%;
}
.position6 {
  top: 0%;
  left: 60%;
}
.position7 {
  top: 0%;
  left: 70%;
}
.position8 {
  top: 0%;
  left: 5%;
}

.active_heart {
  filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}


button {
  padding: 0.5em 1em;
  font-size: 2em;
  margin: auto;
  background-color: #c50bd6;
  color: #ffffff;
  border: 5px solid #e10de9;
  cursor: pointer;
  border-radius: 10px;
}

